
<% content_for :container do %>
    <div class="row-fluid">
      <div class="input-group">
        <input type="text" id="txtTermo" class="form-control" placeholder="Termo para busca" >
        <span class="input-group-btn">
        <a class="btn btn-default" type="button" onclick="buscar()">Procurar</a>
      </span>
      </div>
    </div>

    <script type="text/javascript">
        function buscar(){
            var path = '<%= journals_path %>';
            Turbolinks.visit( path+'?termo=' + $('#txtTermo').val());
        }

        $("#txtTermo").keyup(function (e) {
            if (e.keyCode == 13) {
                buscar();
            }
        });
    </script>
<% end %>

